<nav id="movimientoeditar" th:fragment="modulo-movimientoeditar" class="modal fade" role="dialog"
     xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Movimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/movimientos/guardar(id=${movimientoeditado.id})}" th:object="${movimientoeditado}"
                  method="POST" autocomplete="off">
                <div class="modal-body">
                    <div class="form-group" style="width:100%">
                        <label th:text="#{Presentacion.Movimiento.TituloCampo2}"/>
                        <input class="form-control" type="text" th:field="*{concepto}" name="concepto" id="concepto">
                    </div>
                    <div class="form-group" style="width:100%">
                        <label th:text="#{Presentacion.Movimiento.TituloCampo3}"/>
                        <input class="form-control" type="number" th:field="*{monto}" name="monto" id="monto">
                    </div>
                    <div th:if="${usuario.getRol().toString()=='ADMINISTRADOR' or usuario.getRol().toString()=='OPERATIVO'}"
                         class="form-group" style="width:100%">
                        <label th:text="#{Presentacion.Movimiento.TituloCampo4}"/>
                        <select class="form-control" th:field="*{usuario}" name="usuario" id="usuario">
                            <option th:each="empleado : ${listausuarios}"
                                    th:if="${usuario.getCorreo()==empleado.correo}"
                                    th:text="${empleado.nombre}" th:value="${empleado.id}">
                            </option>
                        </select>
                    </div>
                    <div th:if="${usuario.getRol().toString()=='ADMINISTRADOR' or usuario.getRol().toString()=='OPERATIVO'}"
                         class="form-group" style="width:100%">
                        <label th:text="#{Presentacion.Movimiento.TituloCampo5}"/>
                        <select class="form-control" th:field="*{empresa}" name="empresa" id="empresa">
                            <option th:each="empresa : ${listaempresas}"
                                    th:if="${usuario.getEmpresa().getId()==empresa.id}"
                                    th:text="${empresa.nombre}" th:value="${empresa.id}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</nav>